* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  
}

body {

    font-family: 'Times New Roman', Times, serif
}
.header{
    background-color: white;
    width: 100vw;
    position: fixed;
   
}
.header ul{
    list-style: none;
    display: flex;
    justify-content: end;
    margin-right: 10px;
    

}
.header li{
    padding: 20px;
   
    
    
}
.header a{
    text-decoration: none;
    color: black;
}

.header li:hover{
    background-color: tan;
    border: 1px solid;
    font-style: italic;
    transition: background-color 2s ease-out 100ms;
   
}
#center-page{
    background-color:tan;
    display: flex;
    justify-content: space-between;
    height:80vh;
    margin-top: -16px;
    
    
    
}
#home-img {
    width: 100%;
    height: auto;
    background-image: url(../blog/img/home\ image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-txt{
    max-width:50vw;
    
    padding: 30px;
    margin: auto;
}
.home-txt p{
    margin-top: 50px;
    font-size: 1rem;
    overflow-y: hidden;
}
.footer{
    background-color: white;
}
#author{
    height: 50vh;
    background-color: rgb(233, 232, 232);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top:50px;
}
.author-text{
    max-width: 70vw; 
    padding: 18px;
    margin: auto;
    
   
}

.author-img{
    
    background-image:url(../blog/img/ben-sweet.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-size: cover;
    margin-right: 30px;
    margin-bottom: 30px;
    
}

#projects{
    background-color: white;
    border: 1px solid;
    text-align: center;
}
.projects-column{
    display: flex;
    margin: 30px;
   
}
#projects p{
        font-size: 1rem;
}

.grid1 img{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  
    padding:20px;
    margin:5px;
    
    
    
   
    
   
    
}
.grid2 img{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    padding:20px;
    margin:5px;
    
    
   
}
.grid3 img{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    padding: 20px;
    margin:5px;
    
   
    
    
}
.projects-column a {
    text-decoration: none;
    color:black;

}

.projects-column p:hover{
    background-color: tan;
    transition: background-color 2s ease-out 100ms;
  
    

}
.projects-column p{
    width: 200px;
    height: 70px;
    padding:10px;
}

#footer img{
    width: 100%;
    height: auto;
}

