* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  
}

body {

    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}
.header{
    background-color: black;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
   
}
.header-item{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 18vw;
}
.header h2{
    
    margin-right: 10px;
    margin: 30px 0px 0px 10px;
    
   
}
.header ul{
    list-style: none;
    display: flex;
    justify-content: end;
    margin: 0px;
    
    

    

}
.header button{
    margin: 30px;
    display: none;
   
    
    


}
.header li{
    margin: 30px;
    color: white;
    margin-right: 30px;
    
}
.header a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.header li:hover{
    background-color:black;
    border: 1px solid;
    border-radius: 10px;
    font-style: italic;
    transition: background-color 2s ease-out 100ms;
   
}

#center-page{
    background-color: black;
    /* display: flex; */
    display: grid;
    flex-direction: column;
    flex-direction: row-reverse;
    justify-content: space-between;
    /* height:80vh; */
    margin-top: -16px;
    overflow-y: hidden;
    
}
#home-img {
    width: 100%;
    /* height: auto; */
    background-image: url(./img/home-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-txt{
    max-width:50vw;
    color: white;
    padding: 30px;
    margin: auto;
}
.home-txt p{
    margin-top: 50px;
    font-size: 1rem;
    color: white;
    overflow-y: hidden;
}


#author{
    height: 50vh;
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top:50px;
}
.author-text{
    max-width: 70vw; 
    padding: 18px;
    margin: auto;
    
   
}

.author-img{
    
    background-image:url(./img/ben-sweet.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin:-30px 0px 20px 30px;
    
}

#projects{
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
    scroll-behavior: smooth;
}

.projects-column{
    display: flex;
    margin: 30px;
    
   
}
#projects h1{
    margin-top: 50px;
}
#projects p{
        font-size: 1rem;
        color: white;
        margin-top: 20px;
}

.grid1 img{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  
    padding:20px;
    margin:5px;
    
    
    
   
    
   
    
}
.grid2 img{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    padding:20px;
    margin:5px;
    
    
   
}
.grid3 img{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    padding: 20px;
    margin:5px;
    
   
    
    
}
.projects-column a {
    text-decoration: none;
    color:black;

}

.projects-column p:hover{
    background-color: tan;
    transition: background-color 2s ease-out 100ms;
  
    

}
.projects-column p{
    width: 200px;
    height: 70px;
    padding:10px;
}
footer{

    width: 100%;
    background-image: url(./img/footer.jpg);
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  

}
footer i{
    padding: 20px;
    margin-top: 400px;
    color: white;
}
footer a{
    text-decoration:none;
}



@media screen and (max-width: 460px) {
    .header{
        display: flex;
        flex-direction: column-reverse;
        
    }
    .header ul{
       
        display:flex;
       flex-direction: column;
       display: none;
    }
    
    .header a{
        font-size:1em;
    
        
    }
    .header-item{
        width: 100vw;
        background-color: black;
        color: white;
        padding: 5px;
      
    }

    
    .header button{
        margin: 5px;
        cursor: pointer;
        display: block;
  
    }
    #navlist{
        padding: 5px;

    }
    #navlist li{

        margin: 10px;
    }
    .header h2{
        margin:0px 5px 0px 10px;
      
    }
    #center-page{
        height: auto;
        display: flex;
        flex-direction: column;
        margin:0;
    }
    #home-img{
        width: auto;
        margin: 0px;
        padding:300px;
        background-position: center;
    }
    .home-txt{
        width: 100vw;
        margin: 6px;
        padding: 5px;
    }
    .home-txt p{
        width: 100vw;
        margin:10px;
        padding: 0px;
        text-align: justify;
    }

    .home-txt h3{
        width: 100vw;
        text-align: center;
    }
    #author{
        display: flex;
        flex-direction: column-reverse;
        padding:0px;
        margin-left:-150px;
        margin-top: 50px;
        
      
      
    }
    .author-img{
        
        width: 100%;
        height: auto;
       padding: 70px 70px 70px 50px;
       margin: auto;
       border-radius: 0px;
       
        
       

    }
    .author-text p{
        width: 100vw;
        padding: 10px;      
        text-align: justify;
    }
    #projects{
        background-color: white;
        color: black;
    }
    #projects p{
        color:black;
        padding:5px;
        text-align: justify;
    }
    .projects-column{
        display: grid;
        grid-template-columns: 1fr;
    }
    footer{
        background-size: cover;
    }
    footer h3{
        margin:20px;
       padding:40px;
        color: white;
        
    }
    #bottom a{
        margin:5px;
        text-decoration: none;
        
        
    }
    #bottom i{
       margin-top:100px;
       
       
    }
   #bottom p{
        text-align: center;
        color: white;
    }
    
    i{
        font-size: 10vw !important;
    }
}

